body:has(td[d0="0"]:hover) {--node-i-d0: 0}
body:has(td[d0="1"]:hover) {--node-i-d0: 1}
body:has(td[d0="2"]:hover) {--node-i-d0: 2}
body:has(td[d0="3"]:hover) {--node-i-d0: 3}
body:has(td[d0="4"]:hover) {--node-i-d0: 4}
body:has(td[d0="5"]:hover) {--node-i-d0: 5}
body:has(td[d0="6"]:hover) {--node-i-d0: 6}
body:has(td[d0="7"]:hover) {--node-i-d0: 7}
body:has(td[d0="8"]:hover) {--node-i-d0: 8}
body:has(td[d0="9"]:hover) {--node-i-d0: 9}
body:has(td[d1="0"]:hover) {--node-i-d1: 0}
body:has(td[d1="1"]:hover) {--node-i-d1: 1}
body:has(td[d1="2"]:hover) {--node-i-d1: 2}
body:has(td[d1="3"]:hover) {--node-i-d1: 3}
body:has(td[d1="4"]:hover) {--node-i-d1: 4}
body:has(td[d1="5"]:hover) {--node-i-d1: 5}
body:has(td[d1="6"]:hover) {--node-i-d1: 6}
body:has(td[d1="7"]:hover) {--node-i-d1: 7}
body:has(td[d1="8"]:hover) {--node-i-d1: 8}
body:has(td[d1="9"]:hover) {--node-i-d1: 9}
body:has(td[d2="0"]:hover) {--node-i-d2: 0}
body:has(td[d2="1"]:hover) {--node-i-d2: 1}
body:has(td[d2="2"]:hover) {--node-i-d2: 2}
body:has(td[d2="3"]:hover) {--node-i-d2: 3}
body:has(td[d2="4"]:hover) {--node-i-d2: 4}
body:has(td[d2="5"]:hover) {--node-i-d2: 5}
body:has(td[d2="6"]:hover) {--node-i-d2: 6}
body:has(td[d2="7"]:hover) {--node-i-d2: 7}
body:has(td[d2="8"]:hover) {--node-i-d2: 8}
body:has(td[d2="9"]:hover) {--node-i-d2: 9}
body:has(td[d3="0"]:hover) {--node-i-d3: 0}
body:has(td[d3="1"]:hover) {--node-i-d3: 1}
body:has(td[d3="2"]:hover) {--node-i-d3: 2}
body:has(td[d3="3"]:hover) {--node-i-d3: 3}
body:has(td[d3="4"]:hover) {--node-i-d3: 4}
body:has(td[d3="5"]:hover) {--node-i-d3: 5}
body:has(td[d3="6"]:hover) {--node-i-d3: 6}
body:has(td[d3="7"]:hover) {--node-i-d3: 7}
body:has(td[d3="8"]:hover) {--node-i-d3: 8}
body:has(td[d3="9"]:hover) {--node-i-d3: 9}
