---
GRID_WIDTH: 60
---
<!doctype html>
<title>Style Cascade</title>
<link rel=stylesheet href=bore.css>
<style>

body {
    {% for d in (0..6) %}--node-i-d{{ d }}:0;{% endfor %}
    --node-i: calc(var(--node-i-d1) + var(--node-i-d2) * 10 + var(--node-i-d3) * 100 + var(--node-i-d4) * 1000);
}

table {
    border: 1px solid black;
    margin: auto;
    border-spacing: 0;
}

.n {
    width: .1cm;
    height: .1cm;
    &:hover { background-color:grey; }
}


hr { width: calc(1px * var(--node-i)); }

</style>

<hr>
<table>
{% for x in (1..page.GRID_WIDTH) %}<tr>{% for y in (1..page.GRID_WIDTH) %}{% capture i %}00000000{% increment i %}{% endcapture %}
  <td class=n d1={{ i | slice: -1 }} d2={{ i | slice: -2 }} d3={{ i | slice: -3 }} d4={{ i | slice: -4 }} d5={{ i | slice: -5 }} d6={{ i | slice: -6 }}></td>{% endfor %}
 </tr>
{% endfor %}
</table>


<hr>

</table>
